.recipe-name {
    font-size: 2em;
    font-weight: bold;
    padding-top: 10pt;
    color: #78855E;
}

.color1 {
    color: #78855E;
}

.color2 {
    color: #918C60;
}

.hr-ingredients {
    margin-top: 0.1rem;
}

.ingredients {
    font-size: 1.5em;
    font-weight: bold;
}

.nutritional-value {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 0;
    color: #78855E;
}

ul.nutritional-value li {
    width: auto;
    float: left;
    color: #78855E;
}

.circle {
    width: 4em;
    height: 4em;
    border-radius: 50%;
    color: #78855E;
    font-size: 1em;
    line-height: 4em;
    text-align: center;
    background: #fff;
    border-color: #78855E;
    border-style: solid;
    border-width: thin;
    margin-bottom: 2pt;
}